@charset "UTF-8";

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
	margin:0px;
	padding:0px;
	font-family: 'SUIT-Regular';
	background:#fbf4ff;
}
video{
	width:100%;
}
.bg_box{
	position:relative;
	width:100%;
	height:340px;
	overflow:hidden;
	margin:0px auto;
	outline:none;
	border:none;
}
.bg_text{
	position:absolute;
	top:3%;
	left:50%;
	transform:translate(-50%,-3%);
	color:#fff;
}
.title{
	text-align:center;
	font-size:43px;
	margin-bottom:0px;
	font-weight:bold;
}
.sub_title{
	text-align:center;
	font-size:22px;
	margin-top:20px;
}
.top_box{
	border:1px solid #e1e1e1;
	position:absolute;
	top:40%;
	left:50%;
	transform:translate(-50%,-38%);
	width:65%;
	height:44%;
	background:#f8f7f9;
	border-radius:20px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}
.search_box{
	position:absolute;
	top:12%;
	left:50%;
	transform:translate(-50%,-15%);
	width:85%;
	height:15%;
	text-align:center;
}
.search_input{
	width:95.9%;
	height:100%;
	font-size:18px;
	padding:6px;
	padding-left:27px;
	font-family: 'SUIT-Regular';
	background-image:url(/marrymate/img/search_small.png);
	background-repeat:no-repeat;
	background-position:96.5% center;
	background-size:24px;
	border:1px solid #d4d4d4;
	border-radius:9px;
}
.search_input:focus{
	outline:none;
}
.search_input:hover, .search_input:active, .search_input:focus{
	border-color: #cf30fe;
	transition: all 0.4s;
}
.calendar_box{
	position:absolute;
	top:33%;
	left:7.65%;
	width:41%;
	height:15%;
}
.local_box{
	position:absolute;
	top:33%;
	left:51.4%;
	width:41%;
	height:19.3%;
}
.price_box{
	border:1px solid #d4d4d4;
	border-radius:9px;
	position:absolute;
	top:57%;
	left:7.65%;
	width:84.5%;
	height:24%;
	background-color:#fff;
}
.price_box2{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:65%;
	height:100%;
}
.button_box{
	position:absolute;
	top:100%;
	left:50%;
	transform:translate(-50%,-50%);
	width:38%;
	height:20%;
}
.search_button{
	border:none;
	border-radius:8px;
	background-color: #ae59f4;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 1px;
    font-family: 'SUIT-Regular';
    width:100%;
    height:100%;
    cursor:pointer;
    font-size:23px;
}
.search_button:hover{
	background:#bc76f5;
	transition: all 0.4s;
}
.price_textbox{
	position:absolute;
	top:50%;
	left:8%;
	transform:translate(-8%,-50%);
}
.price_text{
	font-size:22px;
	color:#f30774;
	font-weight:bold;
}
.price_barbox{
	position:absolute;
	width:65%;
	top:50%;
	left:80%;
	transform:translate(-80%,-50%);
}
.price_rangebox{
	position:absolute;
	top:90%;
	left:69%;
	transform:translate(-69%,-90%);
	width:27%;
}
#amount{
	border:0;
	color:#f6931f;
	font-weight:bold;
	font-family: 'SUIT-Regular';
	width:100%;
	font-size:15px;
}
#amount:focus{
	outline:none;
}
.left_box{
	border:1px solid #e1e1e1;
	border-radius:5px;
	position:absolute;
	top:82%;
	left:17.45%;
	width:42.8%;
	padding-bottom:20px;
	background:#fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.right_box{
	border:1px solid #e1e1e1;
	border-radius:5px;
	position:absolute;
	top:82%;
	left:61.8%;
	width:20.65%;
	background:#fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.order_box{
	position:absolute;
	top:78.65%;
	left:17.45%;
	width:42.8%;
	height:5.2%;
}
.order_radio{
	display:none;
}
.order_tab{
	border:1px solid #e1e1e1;
	border-radius:5px;
	background:#fff;
	cursor:pointer;
	padding-top:12px;
	padding-bottom:16px;
	padding-left:16px;
	padding-right:16px;
	font-size:15px;
}
.order_radio:checked + .order_tab{
	background:#e4e4e4;
	transition:all 0.15s;
	border:1px solid #cccccc;
}
.cate_title{
	color:#4e4e4e;
	width:50%;
	margin-left:30px;
	font-size:34px;
}
.alt_text{
	width:70%;
	margin:50px auto;
	font-size:35px;
	text-align:center;
}
.category{
	color:#4e4e4e;
	text-align:center;
	margin:24px auto;
}
.list_table{
	width:93.5%;
	margin:11px auto;
	border-radius:5px;
	border:1px solid rgba(0, 0, 0, 0.175);
	background-color:#f8f7f9;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
	padding:8px 20px;
}
.list_table .company_img{
	width:79%;
	height:130px;
	border-radius:6px;
	border:1px solid rgba(0, 0, 0, 0.175);
	object-fit: cover;
}
.list_table .bk_cname{
	font-size:19px;
	font-weight:bold;
	color:#3a3a3a;
}
.list_table .bk_sido{
	font-size:16px;
}
.list_table .bk_pay{
	font-size:17px;
	font-weight:bold;
	color:#494949;
}
.list_table .add_button{
	background-color:#de2e5f;
	border:1px solid #de2e5f;
	border-radius:0.4rem;
	color:#fff;
	width: 4rem;
    height: 2rem;
    font-size: 1rem;
	cursor:pointer;
	font-family: 'SUIT-Regular';
	background-image:url(/marrymate/img/right-arrow.png);
	background-repeat:no-repeat;
	background-position:93% center;
	text-align:left;
	padding-left:8px;
}
.list_table .add_button:hover{
	background:#e24b75;
	transition: all 0.32s;
	padding-left:17px;
}
.cate_menubox{
	width:94%;
	margin:0px auto;
}
.cate_menu{
	border:1px solid #f7e3ff;
	border-radius:4px;
	background:#f7e3ff;
	font-size:19px;
	padding:10px;
	display:block;
	margin-top:5px;
	cursor:pointer;
}
.cart_table{
	width:99.7%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:1px;
	border-radius:4px;
	border:1px solid rgba(0, 0, 0, 0.175);
	background-color: #f8f7f9;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    padding: 8px 11px;
}
.cartCompany_img{
	width:52%;
	height:90px;
	border-radius:4px;
	border:1px solid rgba(0, 0, 0, 0.15);
	object-fit: cover;
}
.cancel_img{
	cursor:pointer;
}
.cancel_img:hover{
	border-radius: 100%;
	background-color:#dbdbdb;
	transition: all 0.25s;
}
.cate_radio{
	display:none;
}
.cate_radio:checked + .cate_menu{
	font-weight:bold;
	background:#a23dfc;
	color:#fff;
	transition:all 0.3s;
}
.allClear_box{
	width:93%;
	margin:20px auto;
	text-align:right;
}
.allClear_button{
	padding:7px;
	cursor:pointer;
	background:#756983;
	color:#fff;
	border-radius:4px;
	border:none;
	font-size:14px;
	font-family: 'SUIT-Regular';
}
.allClear_button:hover{
	background:#8a8198;
	transition: all 0.2s;
}
.sumPay_text1{
	text-align:right;
	width:93%;
	margin-top:50px;
	margin-bottom:0px;
	margin-left:auto;
	margin-right:auto;
	font-size:26px;
}
.sumPay_text2{
	text-align:right;
	width:93%;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	font-size:26px;
}
.book_box{
	text-align:center;
	width:93%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:26px;
}
.book_button{
	width:100%;
	border-radius:8px;
	background:#5392f9;
	border:none;
	color:#fff;
	font-size:25px;
	font-weight:bold;
	font-family: 'SUIT-Regular';
	cursor:pointer;
	padding-top:14px;
	padding-bottom:14px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 1px;
}
.book_button:hover{
	background:#74a6fa;
	transition: all 0.4s;
}