@charset "UTF-8";

body{
	background: url("/marrymate/img/background.png")
}

video{
	width: 100%;
	position:relative;
	height:100%;
	overflow:hidden;
	margin: auto;
	outline:none;
	border:none;
}

/*웨딩캘린더*/
.checkListTopWrap{margin:-80px auto 0 auto;max-width:1920px;height:1050px;overflow:hidden;background-size:1920px 100%;}
.checkListTopWrap > .inner{padding:80px 0 40px 0;margin:0 auto;width:1400px;} 
.checkListTopWrap .profileWrap{height:235px;} 
.checkListTopWrap .profileWrap .profileBox{height:235px;width:690px;box-shadow:0 10px 15px 5px rgba(147,135,119,0.15);float:left;padding:50px 0 0 70px;overflow:hidden;border-radius:0 0 0 15px;} 
.checkListTopWrap .profileWrap .profileBox .imgArea{overflow:hidden;border-radius:135px;border:3px solid #d4bea5;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:135px;height:135px;position:relative;box-shadow:0 7px 20px 5px rgba(51,51,51,0.19);float:left;} 
.checkListTopWrap .profileWrap .profileBox .imgArea img{height:100%;position:absolute;left:50%;top:0;transform:translate(-50%,0)} 
.checkListTopWrap .profileWrap .profileBox .txtArea{float:left;margin:30px 0 0 60px;} 
.checkListTopWrap .profileWrap .profileBox .txtArea .nameArea{font-size:22px;color:#957963;border-bottom:1px solid #e4d9cf;padding-bottom:13px;margin-bottom:10px;letter-spacing:-0.05em;} 
.checkListTopWrap .profileWrap .profileBox .txtArea .nameArea span{color:#5a4e47;} 
.checkListTopWrap .profileWrap .profileBox .txtArea .weddingDay{} 
.checkListTopWrap .profileWrap .profileBox .txtArea .date{color:#5a4e47;font-size:22px;line-height:50px;display:inline-block;vertical-align:top;} 
.checkListTopWrap .profileWrap .profileBox .txtArea .d-day{font-size:34px;font-family:"SpoqaHanSansBold";color:#a63030;letter-spacing:-0.05em;line-height:50px;display:inline-block;vertical-align:top;margin-left:15px;margin-top:-2px;} 

.checkListTopWrap .profileWrap .tagConBox{height:235px;width:690px;box-shadow:0 10px 15px 5px rgba(147,135,119,0.15);float:right;background:#f4efeb;overflow:hidden;border-radius:0 0 0 15px;text-align:center;padding-top:70px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;} 
.checkListTopWrap .profileWrap .tagConBox .txt{font-size:18px;margin-top:14px;} 
.checkListTopWrap .profileWrap .tagConBox .bottomTxt{font-size:15px;color:#999999;margin-top:60px;} 

.checkListArea{margin:0 auto;width:1400px;padding:53px 0 0 0} 
.checkListArea .listRow{position:relative;margin-right:-10px;} 
.checkListArea .listRow:after{content:'';display:block;clear:both;} 
.checkListArea .listRow .d-day_tit{background:#f4f4f4;display: flex;align-items: center;justify-content: center;color:#999999;width:160px;float:left;overflow:hidden;border-radius:0 0 0 15px;height:165px;text-align:center;margin:10px 10px 0 0;} 
.checkListArea .listRow .d-day_tit span{display:block;} 
.checkListArea .listRow .d-day_tit strong{font-weight:normal;font-size:34px;margin-top:8px;display:block;font-family:"SpoqaHanSansLight";} 
.checkListArea .listRow .itemArea{overflow:hidden;} 
.checkListArea .listRow .itemArea li{margin:10px;float:left;} 
.checkListArea .listRow .itemArea li .item{background:#f4f4f4;border-radius:0 0 0 15px;overflow:hidden;padding:20px 30px;width:290px;height:165px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:relative;transition:all 0.5s} 
.checkListArea .listRow .itemArea li .item .d-day{color:#aaaaaa;font-size:18px;} 
.checkListArea .listRow .itemArea li .item .tit{display:inline-block;color:#aaaaaa;font-size:22px;margin-top:12px;} 
.checkListArea .listRow .itemArea li .item .tit.memo{background-size:20px auto;padding-right:29px;} 
.checkListArea .listRow .itemArea li .item .checkToggle{position:absolute;right:30px;top:30px;} 
.checkListArea .listRow .itemArea li .item .bottom{position:absolute;bottom:30px;left:30px;right:30px;margin:0 auto;} 
.checkListArea .listRow .itemArea li .item .bottom .stat{float:left;line-height:25px;display:none;} 
.checkListArea .listRow .itemArea li .item .bottom .stat.quickly{color:#a63030;background-size:14px auto;padding-left:19px;} 
.checkListArea .listRow .itemArea li .item .bottom .stat.now{color:#e29090;padding-left:19px;} 
.checkListArea .listRow .itemArea li .item .bottom .stat{float:left;line-height:25px;} 
.checkListArea .listRow .itemArea li .item .bottom .checkBox{float:right;} 

.checkListArea .listRow .d-day_tit.on{background:#665956;color:#FFFFFF;} 
.checkListArea .listRow .itemArea li .item.on{background:#f4efeb;} 
.checkListArea .listRow .itemArea li .item.on .d-day{color:#957963;} 
.checkListArea .listRow .itemArea li .item.on .tit{color:#957963;} 
.checkListArea .listRow .itemArea li .item.on .tit.memo{background:url("/marrymate/img/background.png") no-repeat right center;-webkit-background-size:20px auto;background-size:20px auto;} 
.checkListArea .listRow .itemArea li .item.on .bottom .stat{display:block;} 
.checkListArea .listRow .itemArea li .item.on .check{background:#957963;} 
.checkListArea .listRow .itemArea li .item.on .check .txt{color:#ffffff;position:absolute;left:17px;} 
.checkListArea .listRow .itemArea li .item.on .check:after{left:68px;background:#ffffff;} 

} 


