@charset "UTF-8";

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.main{
  width: 100%;
  display: block;
}

.content-wrap{
  width: 100%;
  margin:0 auto;
  border: 4px solid rgba(161, 161, 161, 0.5); 
  border-radius: 20px;
  overflow: hidden;
  background: #e2c6ff;
}
.content-left{
  background: #e2c6ff;
  color:#e2c6ff;
  float: left;
  width: 100%;
  padding: 30px;
}
.main-wrap{
  text-align: center;
  padding: 20px 0 0 0;
}
.main-day{
  font-size: 30px;
  font-weight: bold;
}
.main-date{
  font-size: 120px;
  font-weight: bold;
  margin: 20px 0;
}
.todo-wrap{
  padding: 0 0 0 40px;
}
.todo-title{
  font-size: 20px;
  font-weight: 100;
  margin: 0 0 10px 0;
}
.input-box{
  width: 50%;
  margin-right: 20px;
  height: auto; 
  background: #0b0809;
  color: #e2c6ff;
  line-height : normal;
  padding: .8em .5em 0 0; 
  font-family: inherit;
  border: 0; 
  border-bottom: 1px dashed #e2c6ff;; 
  border-radius: 0; 
  outline-style: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
}
.input-data{
  cursor: pointer;
  font-size: 10px;
  padding: 10px;
  margin: 10px 0 10px 0;
  background: #e2c6ff;
  border: none;
  color: #0b0809;
  border-radius: 10px;
}
.input-data:hover{
  background: #ffffff;
  color: #0b0809;
}
.input-list > div{
  font-size: 10px;
  width: 60%;
  float: left;
  color: #e2c6ff;
}
.input-list > .checked{
  color: #FFFFFF;
  text-decoration:line-through
}
.del-data{
  display: block;
  color: #e2c6ff;
  float: left;
  width: 10%;
  cursor: pointer;
  font-size: 10px;
  padding: 10px;
  background: #0b0809;
  border: none;
  border-radius: 10px;
}
.content-right{
  float: left;
  width: 90%;
  padding: 10px;
}
.sun{
  color:#ef3333;
}
.sat{
  color:#2107e0;
}
.content-right table tr td{
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.active{
  background: #0b0809;
  border-radius: 50%;
  color: #8080ff;
}

@media(min-width: 850px){
  .main{
    display: flex;
    align-items: center;
    justify-content:  center;
    width: 100vw;
    height: 100vh;
    background: #ababab;
  }
  .content-wrap{
    width: 800px;
    height: 600px;
    margin:0 auto;
    border: 4px solid rgba(161, 161, 161, 0.5); 
    border-radius: 20px;
    overflow: hidden;
    background: #e2c6ff;
  }
  .content-left{
    background: #0b0809;
    color:#e2c6ff;
    float: left;
    width: 360px;
    height: 600px;
    padding: 90px 20px 20px 0;
  }
  .main-wrap{
    text-align: center;
    margin: 20px 0 0 0;
  }
  .main-day{
    font-size: 30px;
    font-weight: bold;
  }
  .main-date{
    font-size: 120px;
    font-weight: bold;
    margin: 20px 0;
  }
  .todo-wrap{
    padding: 0 0 0 40px;
  }
  .todo-title{
    font-size: 20px;
    font-weight: 100;
    margin: 0 0 10px 0;
  }
  .input-box{
    width: 70%;
    height: auto; 
    background: #0b0809;
    color: #e2c6ff;
    line-height : normal;
    padding: .8em .5em 0 0; 
    font-family: inherit;
    border: 0; 
    border-bottom: 1px dashed #ddaf35;; 
    border-radius: 0; 
    outline-style: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
  }
  .input-data{
    cursor: pointer;
    font-size: 10px;
    padding: 10px;
    margin: 20px 0 30px 0;
    background: #e2c6ff;
    border: none;
    color: #0b0809;
    border-radius: 10px;
  }
  .input-data:hover{
    background: #ffffff;
    color: #0b0809;
  }
  .input-list > div{
    font-size: 10px;
    width: 60%;
    float: left;
    color: #e2c6ff;
  }
  .del-data{
    display: block;
    color: #e2c6ff;
    float: left;
    width: 10%;
    cursor: pointer;
    font-size: 10px;
    padding: 10px;
    background: #c0c0c0;
    border: none;
    border-radius: 10px;
  }
  .content-right{
    float: left;
    width: 360px;
    height: 600px;
    padding: 100px 20px 20px 20px;
  }
  .sun{
    color:#ef3333;
  }
  .sat{
    color:#2107e0;
  }
  .content-right table tr td{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  .active{
    background: #8080ff;
    border-radius: 50%;
    color: #ffffff;
  }
}

li{
	list-style: none;
}

body {
	background: url("/marrymate/img/background.png");
	body: 0;
}


th{
	border: 1px solid #cccccc;
	width: 200px;
	height: 150px;
	align-self: center;
	text-align: center;
}

.caldate .trth{
	text-align: center;
	font-size: 28px;
}
td{
	border: 1px solid #cccccc;
	width: 200px;
	height: 150px;
	align-self: center;
	font-size: 25px;
}

.calendarshow{
	font-family: 'SUIT-Regular';
}
.calendarshow .todaydate{
	font-family: 'SUIT-Regular';
	font-size: 50px;
	font-weight: bold;
	color: #8448ff;
	padding-top: 20px;
	padding-bottom: 40px;
}
.calendarshow .caldate{

	font-family: 'SUIT-Regular';
}

video {
	width: 100%;
	position: relative;
	height: 100%;
	overflow: hidden;
	margin: auto;
	outline: none;
	border: none;
}

.main h2.sTit {
	color: #333333;
	font-family: 'SUIT-Regular';
	font-size: 28px;
	margin-bottom: 18px;
	-webkit-background-size: 34px auto;
	background-size: 34px auto;
	padding-left: 48px;
	line-height: 34px;
}

.mainMyweddingAnimationScroll {
	height: 150px;
	position: relative;
	overflow: hidden;
	text-align: center;
}


.mainMyweddingAnimationScroll .goal {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	margin: 0 auto;
	bottom: 47px;
	z-index: 1;
	text-align: center;
	font-size: 32px;
	color: #8448ff;
}

.mainMyweddingAnimationScroll .goal span {
	display: inline-block;
	vertical-align: top;
	margin: 12px 5px 0 0;
	font-family: 'SUIT-Regular';
}

.mainMyweddingAnimationScroll .goal strong {
	font-size: 32px;
	font-weight: normal;
	font-family: 'SUIT-Regular';
	display: inline-block;
	vertical-align: top;
}

.mainMyweddingAnimationScroll .goal span.info {
	margin-top: 15px;
	font-size: 13px;
	font-family: 'SUIT-Regular';
	padding-left: 3px;
}

.mainMyweddingAnimation .inner {
	width: 1250px;
	margin: 0 auto;
	position: relative;
	height: 100%;
}



/*웨딩캘린더*/


.checkListTopWrap {
	margin: 0 auto;
	max-width: 1920px;
	height: 1050px;
	overflow: hidden;
	background-size: cover;
}

.mainMyweddingAnimation {
	
}

.pc.myWeddingType .mainMyweddingAnimationScroll {
	background: none !important;
}

.checkListTopWrap>.inner {
	margin: 0 auto;
	width: 100%;
}

.checkListTopWrap .profileWrap {
	height: 100%;
	width: 100%;
}

.checkListTopWrap .profileWrap .profileBox {
	overflow: hidden;
	align-items: center;
	display: flex;
}


.checkListTopWrap .profileWrap .profileBox .imgArea {
	width: 280px;
	position: relative;
	margin: 150px 0 0 0;
	padding: 300px 0 0 305px;
	display: flex;
  	margin-right: 10px; /* 이미지와 텍스트 사이의 간격 설정 */
}

.checkListTopWrap .profileWrap .profileBox .txtArea {
	margin: 0 0 0 12%;
	padding: 28% 0 0 0;
	flex: 1; /* 텍스트 요소가 남은 공간을 모두 차지하도록 설정 */
}

.checkListTopWrap .profileWrap .profileBox .txtArea .nameArea {
	font-size: 45px;
	color: #5706b0;
	border-bottom: 1px solid #e4d9cf;
	padding-bottom: 13px;
	margin-bottom: 25px;
	letter-spacing: -0.05em;
}

.checkListTopWrap .profileWrap .profileBox .txtArea .nameArea span {
	color: #6c00d9;
}

.checkListTopWrap .profileWrap .profileBox .txtArea .weddingDay {
	font-size: 40px;
	font-family: 'SUIT-Regular';
	padding-bottom: 13px;

}

.checkListTopWrap .profileWrap .profileBox .txtArea .date {
	color: #6b1bf1;
	font-size: 38px;
	font-family: 'SUIT-Regular';
	line-height: 50px;
	display: inline-block;
	vertical-align: top;
	margin-top: 12px;
}

.checkListTopWrap .profileWrap .profileBox .txtArea .d-day {
	font-size: 42px;
	font-family: 'SUIT-Regular';
	color: #ef3aa7;
	letter-spacing: -0.05em;
	line-height: 50px;
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
	margin-top: 12px;
}

.checkListTopWrap .profileWrap .profileBox .txtArea #count {
	font-size: 25px;
	font-family: 'SUIT-Regular';
	padding-top: 15px;
	color: #b993f9;
}

.checkListTopWrap .profileWrap .tagConBox {
	height: 235px;
	width: 690px;
	box-shadow: 0 10px 15px 5px rgba(147, 135, 119, 0.15);
	float: right;
	background: #f4efeb;
	overflow: hidden;
	border-radius: 5px 18px 5px 18px;
	text-align: center;
	padding-top: 70px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.checkListTopWrap .profileWrap .tagConBox .txt {
	font-size: 18px;
	margin-top: 14px;
}

.checkListTopWrap .profileWrap .tagConBox .bottomTxt {
	font-size: 15px;
	color: #999999;
	margin-top: 60px;
}

.checkListArea {
	margin: auto;
	width: 90%;

}

.checkListArea .listRow {
	position: relative;
	margin-right: -10px;
}

.checkListArea .listRow:after {
	content: '';
	display: block;
	clear: both;
}

.checkListArea .listRow .d-day_tit {
	background: #f4f4f4;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #999999;
	width: 160px;
	float: left;
	overflow: hidden;
	border-radius: 5px 18px 5px 18px;
	height: 165px;
	text-align: center;
	margin: 10px 10px 0 0;
}

.checkListArea .listRow .d-day_tit span {
	display: block;
}

.checkListArea .listRow .d-day_tit strong {
	font-weight: normal;
	font-size: 34px;
	margin-top: 8px;
	display: block;
	font-family: 'SUIT-Regular';
}

.checkListArea .listRow .itemArea {
	overflow: hidden;
}

.checkListArea .listRow .itemArea li {
	margin: 10px;
	float: left;
}

.checkListArea .listRow .itemArea li .item {
	background: #f4f4f4;
	border-radius: 5px 18px 5px 18px;
	overflow: hidden;
	padding: 20px 30px;
	width: 290px;
	height: 165px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	transition: all 0.5s
}

.checkListArea .listRow .itemArea li .item .d-day {
	color: #aaaaaa;
	font-size: 18px;
}

.checkListArea .listRow .itemArea li .item .tit {
	display: inline-block;
	color: #aaaaaa;
	font-size: 22px;
	margin-top: 12px;
}

.checkListArea .listRow .itemArea li .item .tit.memo {

	-webkit-background-size: 20px auto;
	background-size: 20px auto;
	padding-right: 29px;
}

.checkListArea .listRow .itemArea li .item .checkToggle {
	position: absolute;
	right: 30px;
	top: 30px;
}

.checkListArea .listRow .itemArea li .item .bottom {
	position: absolute;
	bottom: 30px;
	left: 30px;
	right: 30px;
	margin: 0 auto;
}

.checkListArea .listRow .itemArea li .item .bottom .stat {
	float: left;
	line-height: 25px;
	display: none;
}

.checkListArea .listRow .itemArea li .item .bottom .stat.quickly {
	color: #a63030;

	-webkit-background-size: 14px auto;
	background-size: 14px auto;
	padding-left: 19px;
}

.checkListArea .listRow .itemArea li .item .bottom .stat.now {
	color: #e29090;

	-webkit-background-size: 14px auto;
	background-size: 14px auto;
	padding-left: 19px;
}

.checkListArea .listRow .itemArea li .item .bottom .stat {
	float: left;
	line-height: 25px;
}

.checkListArea .listRow .itemArea li .item .bottom .checkBox {
	float: right;
}

.checkListArea .listRow .d-day_tit.on {
	background: #b7a2d5;
	color: #FFFFFF;
}

.checkListArea .listRow .itemArea li .item.on {
	background: #f4f1fe;
}

.checkListArea .listRow .itemArea li .item.on .d-day {
	color: #b7a2d5;
}

.checkListArea .listRow .itemArea li .item.on .tit {
	color: #8f70be;
}

.checkListArea .listRow .itemArea li .item.on .tit.memo {

	-webkit-background-size: 20px auto;
	background-size: 20px auto;
}

.checkListArea .listRow .itemArea li .item.on .bottom .stat {
	display: block;
}

.checkListArea .listRow .itemArea li .item.on .check {
	background: #bfb3f0;
}

.checkListArea .listRow .itemArea li .item.on .check .txt {
	color: #ffffff;
	position: absolute;
	left: 17px;
}

.checkListArea .listRow .itemArea li .item.on .check:after {
	left: 68px;
	background: #ffffff;
}
