@charset "UTF-8";

article div input[type=text] {
	width: 230px;
	height: 30px;
	font-size: 17px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
}

article div input[type=password] {
	width: 230px;
	height: 30px;
	font-size: 15px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
}

article div input[type=text]::placeholder {
	font-family: sans-serif;
	font-size: 10px;
}

article div input[type=password]::placeholder {
	font-family: sans-serif;
	font-size: 10px;
}

body {
	background-color: #fbf4ff;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 32px;
	text-align: center;
}



.box {
	width: 850px;
	border: 1px solid #e3e3e3;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	margin: 0px auto;
	margin-bottom: 50px;
	background-color: white;
}

.hTagBox {
	width: 120px;
	height: 45px;
	text-align: center;
	font-size: 13px;
	float: left;
}

.hClear {
	width: 120px;
	height: 45px;
	clear: both;
	float: left;
	text-align: center;
	font-size: 13px;
}

.tBox {
	width: 700px;
	height: 280px;
	margin: auto;
	text-align: center;
}

.jcBox {
	width: 620px;
	height: 18px;
	margin: auto;
	text-align: right;
	font-size: 13px;
}

.jcBox input:required {
	font-size: 13px;
}

.button-container {
	width: 500px;
	margin: auto;
	padding-right: 100px;
	margin-bottom: 30px;
	text-align: center;
}

.buttonOne {
	display: inline-block;
	width: 150px;
	height: 30px;
	line-height: 30px;
	padding: 5px 10px;
	background-color: #ae59f4;
	color: #fff;
	text-decoration: none;
	margin-right: 10px;
	border-radius: 5px;
}

.buttonTwo {
	display: inline-block;
	width: 150px;
	height: 30px;
	line-height: 30px;
	padding: 5px 10px;
	background-color: #666;
	color: #fff;
	text-decoration: none;
	margin-right: 10px;
	border-radius: 5px;
}

.button:active {
	background-color: #666;
	color: #fff;
}

.ta {
	resize: none;
}

.sc {
	width: 470px;
	text-align: center;
}

.w-btn-red {
	background-color: #ff5f2e;
	color: #e1eef6;
}

.w-btn-red-outline {
	border: 3px solid #ff5f2e;
	background-color: white;
	color: black;
}

.w-btn-red-outline:hover {
	background-color: #ff5f2e;
	color: #e1eef6;
}

.w-btn {
	width: 130px;
	height: 60px;
	position: relative;
	border: none;
	display: inline-block;
	padding: 15px 30px;
	border-radius: 15px;
	font-size: 18px;
	text-decoration: none;
	font-weight: 600;
	transition: 0.25s;
}

.w-btn-outline {
	position: relative;
	padding: 15px 30px;
	border-radius: 15px;
	font-size: 18px;
	text-decoration: none;
	font-weight: 600;
	transition: 0.25s;
}

.w-btn:hover {
	letter-spacing: 2px;
	transform: scale(1.2);
	cursor: pointer;
}

.w-btn-outline:hover {
	letter-spacing: 2px;
	transform: scale(1.2);
	cursor: pointer;
}

.w-btn:active {
	transform: scale(1.5);
}

.w-btn-outline:active {
	transform: scale(1.5);
}

.cc {
	width: 80px;
	height: 30px;
	border: 0;
	border-radius: 12px;
}

.cc:hover {
	border: 0;
	border-radius: 12px;
	background-color: #5392f9;
	color: white;
	cursor: pointer;
}

.cc:active {
	background: black;
	color: white;
}

#iBox {
	width: 600px;
	margin: 20px auto;
	padding-left: 100px;
	padding-bottom: 50px;
	line-height: 45px;
	border-bottom: 2px dashed black;
}

#jBox {
	width: 350px;
	height: 60px;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}