@charset "UTF-8";

.nav-item {
	cursor:pointer;
}
.nav-link {
	color: #ae59f4;
	
}
.nav-link:hover {
	color: black;
}

.btn-primary{
  --bs-btn-color: white;
  --bs-btn-bg: #ae59f4;
  --bs-btn-border-color: #ae59f4;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #bc76f5;
  --bs-btn-hover-border-color: #ae59f4;
  --bs-btn-disabled-color: white;
  --bs-btn-disabled-bg: #ae59f4;
  --bs-btn-disabled-border-color: #ae59f4;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: #ae59f4;
  --bs-btn-active-border-color: ae59f4;
}

.btn-outline-primary{
  --bs-btn-color: #ae59f4;
  --bs-btn-bg: white;
  --bs-btn-border-color: #ae59f4;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #bc76f5;
  --bs-btn-hover-border-color: #ae59f4;
  --bs-btn-disabled-color: #ae59f4;
  --bs-btn-disabled-bg: white;
  --bs-btn-disabled-border-color: #ae59f4;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: #ae59f4;
  --bs-btn-active-border-color: #ae59f4;
}

.page-item {
	cursor:pointer;
}

.page-link, .page-link:hover {
	color:#ae59f4;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: #f0ecfc;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #f0ecfc;
    outline: 0;
    box-shadow: 0px 0px 5px 1px #ae59f4;
}

.fixed-bottom {
	width: 1280px;
	margin: 0px auto;
}

.carousel-item img{
	width: 800px;
	height: 400px;
	object-fit: contain;
}