<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- mybatis -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="url" value="jdbc:oracle:thin:@java-yong.tplinkdns.com:9000:orcl"></property>
		<property name="username" value="PROJECT02"></property>
		<property name="password" value="1234"></property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:/mybatis-config.xml"></property>
	</bean>
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
	<constructor-arg name="sqlSessionFactory" ref="sqlSessionFactoryBean"></constructor-arg>
	</bean>
	
	<!-- DAOs -->
	<bean id="searchDAO" class="com.marry.search.model.SearchDAOImple">
		<property name="sqlMap" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="memberDao" class="com.marry.member.model.MemberDAOImple">
		<property name="sqlMap" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="companyDao" class="com.marry.company.model.CompanyDAOImple">
		<property name="sqlMap" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="bbsDao" class="com.marry.bbs.model.BbsDAOImple">
		<property name="sqlMap" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="bookDao" class="com.marry.book.model.BookDAOImple">
		<property name="sqlMap" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="contentDao" class="com.marry.company.model.ContentDAOImple">
		<property name="sqlMap" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="mypageDao" class="com.marry.mypage.model.MypageDAOImple">
		<property name="sqlMap" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="calendarDao" class="com.marry.calender.model.CalendarDAOImple">
		<property name="sqlMap" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="admin_csDao" class="com.marry.admin_cs.model.Admin_csDAOImple">
		<property name="sqlMap" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="NotificationDao" class="com.marry.notification.model.NotificationDAOImple">
		<property name="sqlMap" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="PlanDao" class="com.marry.calender.model.PlanDAOImple">
		<property name="sqlMap" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="ChecklistDao" class="com.marry.calender.model.ChecklistDAOImple">
		<property name="sqlMap" ref="sqlSessionTemplate"></property>
	</bean>
</beans>
